
*, body {

	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem auto;

}

.calculator {
    width: 400px;
    height: 400px;
    border-radius: 1rem;
    box-shadow: 5px 5px 12px;
}

.calculator .screen {
	background: #212121;
	padding: 1rem;
    height: 150px;
	border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    grid-gap: .5rem;
    padding: 1rem;
    background: #212121;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.buttons button {
    font-size: 1.325rem;
    padding: 1rem 0;
    font-weight: 700;
    background: #616161;
    border: 0px solid transparent;
    outline: none;
    text-decoration: none;
    border-radius: 100%;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.5);
    color: #DFDFDF;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

button.equals {
	grid-column: 3 / 5;
	border-radius: 2.5rem;
}

button.equals:hover {
	background: limegreen;
	color: var(--white);
	transform: translateY(-0.2rem);
}

button.digits:hover,
button.decimal:hover {
	background: #bdbdbd;
	color: #212121;
	transform: translateY(-0.2rem);
}

button.operators:hover {
	background: mediumturquoise;
	color: #000;
	transform: translateY(-0.2rem);
}

button.allclear:hover,
button.clear:hover {
	background: lightcoral;
	color: #000;
	transform: translateY(-0.2rem);
}

button.digits:active,
button.operators:active,
button.decimal:active,
button.allclear:active,
button.clear:active,
button.equals:active {
	transform: translateY(0rem);
}

.user-input {
	font-size: 2.325rem;
	font-weight: 400;
	text-align: right;
	color: #60A07F;
}

.result {
	font-size: 3.625rem;
	font-weight: 600;
	text-align: right;
	color: #bdbdbd;
}